
@media (min-width: 500px) {

    /*Navbar Css default*/
    .navbar{
        height:60px;
        display:flex;
        padding: 5px 20px;
        color: #fff;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100vw;

        .logo-container{
            height:60px;
            display:flex;
        }
        .nav-container{
            margin-right: 50px;
            display: flex;
            align-items: center;
            gap: 20px;
            a {
                font-family: MTNBrighterSans-Medium;
                font-size: 16px;
                text-decoration: none;
                color: white;
                padding: 5px;
                transition: all .3s ease-in-out;
            }

            a:hover {
                color: #cfc755;
            }
        }

    }
    .navbar .scrolled{
        background-color: #cfc755;
    }

/*    page Header*/
    .header-container{
        height:400px;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: MTNBrighterSans-Medium;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0;

        h1{
           all: unset;
            font-family: MTNBrighterSans-Bold;
            font-size: 50px;
            text-align: center;
        }
        p {
            padding: 0 50px;
            h2{
                all: unset;

            }

            a{
                all: unset;
                font-size: 20px;
                display: inline-block;
                padding: 10px 15px;
                background: #cfc755;
                border-radius: 5px;
                opacity: 80%;
            }
            a:hover{
                opacity: 100%;
            }
        }
    }
}